{% extends 'base.html' %}

{% block title %}This is the About Us Page{% endblock title %}My 

{% block body %}

<img src="https://source.unsplash.com/KFSSqybTy7U" width="1500" height="400">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="container">

      <h3 class="mb-0 text-center">About Us</h3>
      
    </div>
  </header>

  <main class="px-3">
  <br>
    <p class="lead"><b>This is a Blogging Website ,where i post stuff 
    related to Programming ,Technology and many more amazing stuff
    This Website is Created using HTML,CSS,JS,BOOTSTRAP & DJANGO <b></p>
    <p class="lead">
    </p>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>

{% endblock body %}